div.introduction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div.introduction div.image img {
    width: 100px;
    height: auto;
    margin-bottom: 16px;
    border-radius: 5px;
}

div.introduction h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 5.0s steps(10, end), blink-caret .5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 50%
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
}