div.navigation {
    height: 100px;
    margin-right: 50px;
}

div.navigation div {
    display: flex;
    justify-content: flex-end;
}

div.navigation a {
    font-family: 'Open Sans', sans-serif;
    color: cornsilk;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 900;
    margin-right: 8px;
}   

div.navigation a:hover {
    background-color: rgba(10, 10, 10, 0.3);
    border-radius: 4px;
}